{{#if isAdmin}}
    {{> adminLogout}}
{{/if}}

<h1>Welcome to Admin Mode</h1>

<div>
    <a href="/admin/write" data-test-id="write">write</a>
</div>

<ul>
    {{#each postList}}
        <li><a href="/admin/read/{{id}}">{{title}}</a></li>
    {{/each}}
</ul>