{{#if isAdmin}}
    {{> adminLogout}}
{{/if}}
<form action="/write?id={{post.id}}" method="POST">
    <p>
        <input type="text" name="title" value="{{post.title}}">
    </p>
    <p>
        <input type="text" name="author" value="{{post.author}}">
    </p>
    <p>
        <textarea name="mainText" cols="30" rows="10">{{post.mainText}}</textarea>
    </p>    
    <input type="submit">
</form>