{{#if isAdmin}}
    {{> adminLogout}}
{{/if}}
<form>
    <input type="hidden" name="_csrf" value="{{_csrfToken}}" id="_csrf">
    <div class="input-group input-group-sm">
        <select name="category" class="form-select form-select-sm" id="select-category">
            <option value="">카테고리를 선택하세요</option>
            {{#each categoryList}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <input type="text" name="newCategory" class="form-control form-select-sm" id="input-category" placeholder="원하는 카테고리가 없다면 직접 입력하세요">
        <span class="hidden write-warning" id="input-category-warning">!!! 이미 저장되어 있는 카테고리 입니다</span>
    </div>
    <div class="input-group input-group-sm">
        <input type="text" name="url" class="form-control form-select-sm" id="input-url" placeholder="URL을 설정하세요">
        <span class="hidden write-warning" id="input-url-warning-overlap">!!! 이미 저장되어 있는 URL 입니다</span>
        <span class="hidden write-warning" id="input-url-warning-string">!!! 올바르지 않은 URL 형식 입니다</span>
    </div>
    <div class="write-editor" id="editorjs"></div>
    <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary write-btn" id="write-submit">Submit</button>
    </div>
</form>
<div class="alert-background" id="alert">
    <div class="alert-box">
        <i class="fa-solid fa-triangle-exclamation fa-2xl fa-fade"></i>        
        <h2 class="alert-box-intro" id="alert-intro">경고창 인트로</h2>
        <p class="alert-box-msg" id="alert-msg">경고 내용</p>
        <button class="btn" id="alert-btn">확인</button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script>

